{{#if addNewAnswer}}
        <h3>Add a new answer</h3>
        <form>
          <div class="row">
            <div class="input-field col s10 offset-1">
              <label for="content">Answer</label>
              {{input value=content id='content' class="validate"}}
            </div>
          </div>
        <div class ="row">
          <div class="input-field col s10 offset-1">
            <label for="author">Author</label>
            {{input value=author id='author' class="validate"}}
          </div>
        </div>
        <a {{action 'saveAnswer'}} class="waves-effect waves-light btn">Save</a>
        <a {{action 'toggleAnswerForm'}} class="waves-effect waves-light btn">Close</a>
        </form>
{{else}}
<a {{action 'toggleAnswerForm' answer}} class="waves-effect waves-light btn">Add Answer</a>
{{/if}}
